{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

	<div class="container">
		<div id="titre">
			<div class="item">
				<p>
					<h1>En route vers de nouvelles saveurs</h1>
				</p>
			</div><br>
		</div>

		<br>
		<div id="soustitre">
			<div class="item">
				<p>
					<h5>Bonne maman, le fleuron de la confiture française</h5>
				</p>
			</div>
		</div>
		<div id="texte">
			<div class="item">
				<p>
					Emblème de la culture du sucré en France, les confitures rencontrent un grand succès à l'étranger. Industrielle, artisanale ou haut de gamme... il y en a pour tous les goûts !
																													
																													Bonne maman, le fleuron de la confiture française
																													Le pot de confiture Bonne Maman est un produit phare de l’industrie agroalimentaire française. C’est en 1971 que Jean Gervoson fonde l’enseigne, observant que les fruits invendus pouvaient avoir une autre vie : la confiture. Bonne maman était le nom qu’il avait l’habitude de donner à sa grand-mère maternelle. C’est Pierre Roche-Bayard, le cocréateur de la marque, qui eut l’idée du motif vichy rouge et blanc ainsi que l’étiquette avec sa calligraphie d’antan. Une révolution dans l’univers du packaging qui fonctionne toujours aujourd’hui.
																													
																													L’histoire est encore plus belle quand on sait que le fameux couvercle des confitures s’inspirait des rideaux de la ferme familiale, et que Pierre Roche-Bayard avait rédigé l’étiquette originale Bonne Maman à l’aide de son porte-plume de lycéen. Depuis plus de 45 ans, la marque n’a cessé de se développer et de montrer sa présence dans les réseaux de distribution, les hôtels, et les restaurants du monde entier. Bonne Maman contrôle le marché des confitures en France avec 35% de part de marché, et plus de 30% de sa production annuelle est destinée à l’exportation.
																													
																													À l’étranger, le motif vichy s’est fait une place de choix. Grâce à une image bien « Made in France », les confitures s’étalent chez les plus grands distributeurs, comme Tesco au Royaume-Uni ou Wal-Mart aux États-Unis. La chanteuse américaine Lindsay Lohan, star des réseaux sociaux, a même été photographiée un pot à la main dans un supermarché américain. Les hôtels chics, qu’ils soient chinois, italiens, russes ou canadiens, n’ont d’yeux que pour la french marmelade.
				</p>
			</div>
		</div>


		<br>
		<br>
		<div
			id="boutton">{# <div class="item">
												<a href="{{ path('app_accueil') }}" type="button" class="btn btn-success">Accueil</a>
											</div>
											<div class="item">
												<a href="{{ path('app_produit') }}" type="button" class="btn btn-success">Nos produits</a>
											</div> #}
		</div>
	</div>
{% endblock %}
