{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous{% endblock %}


{% block body %}

{# <a href="{{ ('app_produit'}}" type="button" class="btn btn-warning">Modifier</a> #}

{{infoPresentation}}<img width="2000px" src="https://static.pratique.fr/images/responsive/high/835-462/le/les-confitures-201-1493123306.jpg" class="img-fluid" alt="Cuillère remplis de confiture">{% endblock %}
